# raw files from https://mcauleylab.ucsd.edu/public_datasets/gdrive/googlelocal/?utm_source=chatgpt.com 
# could not be pushed to github due to large file size. 

# to reproduce processed data, download and unzip the files both reviews and metadata files for Vermont and Rhode island
*/ 